---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.2;

$spacing-unit:     30px;

$title:		#333;
$content:	#666;
$subtitle:	#017176;
$greenbg:	#017176;
$digital:	#00b8bf;
$menu: 		#00575a;
$menu-link: #333;

$content-width:	800px;

$x-small:		700px;
$small:			800px;
$medium:		1024px;
$large:			1180px;

// Import partials from `sass_dir` (defaults to `_sass`)
//@import "foundation";
@import "css3-mixins";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin button($font-size:1rem){
	display: block;
	background: #017175;
	color: #00575a;
	padding: $font-size * 0.025 $font-size * 1;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	@include border-radius(20px);
}
@mixin border-radius($radius: 5px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin flex($val){
	-webkit-flex: $val;
	-moz-flex: $val;
	-ms-flex: $val;
	flex: $val;
}	
@mixin flex-flow($val){
	-webkit-flex-flow: $val;
	-moz-flex-flow: $val;
	flex-flow: $val;
}
@mixin justify-content($val){
	-webkit-justify-content: $val;
	-moz-justify-content: $val;
	justify-content: $val;
}
@mixin align-items($val){
	-webkit-align-items: $val;
	align-items: $val;
}
@mixin perspective($val){
	-webkit-perspective: $val;
	-moz-perspective: $val;
	perspective: $val;
}
@mixin background-size($bgurl){
	background: url($bgurl) no-repeat center right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin filter($filters){
	-webkit-filter: $filters;
	filter: $filters;
}

.row{
	display: flex;
	display: -webkit-flex;
	@include flex-flow(row wrap);
	width: 100%;
	.col-1{
		@include flex(1 100%);
	}
	.col-2{
		@include flex(1 50%);
		@include  media-query($x-small){
			@include flex(1 100%);
		}
	}
	.col-3{
		@include flex(1 33%);
		@include media-query($x-small){
			@include flex(1 100%);
		}
	}
	.col-4{
		@include flex(1 25%);
		@include media-query($x-small){
			@include flex(1 100%);
		}
	}
	.col-5{
		@include flex(1 20%);
		@include media-query($x-small){
			@include flex(1 100%);
		}
	}
	.col-5n{
		@include flex(1 80%);
		@include media-query($x-small){
			@include flex(1 100%);
		}
	}
}

.hide{
	display: none;
}

@include media-query($x-small){
	.x-small-hide{
		display: none;
	}
}

*{
	margin: 0;
	padding: 0;
	font-family: $base-font-family;
	line-height: 1.2;
}
html{
	font-size: $base-font-size;
	width: 100%;
	height: 100%;
	@include media-query($x-small){
		font-size: $base-font-size - 5;
	}
}
body{ 
	width: 100%;
	height: 100%;
}
nav{
	font-size: 0.9rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 5rem;
	@include justify-content(space-between);
	@include align-items(center);
	display: flex;
	display: -webkit-flex;
	.logo{
		width: 30%;
		position: absolute;
		top: 1rem;
		right: 1rem;
		@include filter(opacity(0.8) drop-shadow(2px 2px 3px black));
		@include media-query($x-small){
			left: 1rem;
			margin: auto;
			width: 70%;
		}
	}
	.menu-logo{
		width: 10rem;
		margin: 0 5%;
	}
	.menu-icon{
		margin-right: 5%;
		width: 4rem;
		display: flex;
		display: -webkit-flex;
		@include align-items(center);
		@include justify-content(space-between);
		color: $menu;
		text-decoration: none;
		@include filter(drop-shadow(5px 5px 3px rgba(0,0,0,0.2)));
		&:hover{
			color: $digital;
			@include filter(drop-shadow(5px 5px 3px rgba(0,0,0,0)));
		}
		span{
			font-size: 2rem;
		}
	}
	aside{
		@include perspective(500px);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,184,191,0.85);
		display: flex;
		display: -webkit-flex;
		@include flex-flow(column);
		@include align-items(center);
		@include justify-content(center);
		overflow: hidden;
		.ion-close{
			position: absolute;
			right: 3rem;
			top: 3rem;
			margin: 0.5rem;
			color: white;
			font-size: 2.5rem;
		}
		ul{
			list-style-type: none;
			width: 100%;
			li{
				width: 80%;
				margin: 0 auto;
				padding: 1.5rem;
				font-size: 1rem;
				@include box-sizing(border-box);
				@include filter(drop-shadow(-2px 0 10px rgba(0,0,0,0.2)));
				a{
					font-size: 3rem;
					color: white;
					display: block;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
}
section{
	height: 100%;
	width: 100%;
	padding: 6rem 5%;
	@include box-sizing(border-box);
	display: flex;
	display: -webkit-flex;
	@include media-query($medium){
		padding: 8% 5%;		
	}
	@include media-query($x-small){
		padding: 15% 10%;		
	}
	h2{
		font-size: 2rem;
		color: #fff;
		margin: 1rem 0;
		border-bottom: 2px solid #56B8B5;
		width: 11rem;
	}
	h3{
		padding: .5rem 0;
		min-height: 1.5rem;
		font-size: 1.5rem;
		color: $subtitle;
	}
	h2.grey{
		color: #757571;
	}
	&#home{
		@include background-size('/imgs/home_back.png');
		@include align-items(center);
		article{
			text-align: right;
			font-size: 2.7rem;
			color: $digital;
			text-shadow: 1px 1px 8px black;
			h1{
				color: white;
				font-weight: bold;
			}
			p{
				font-size: 2.7rem;
				line-height: 1.2;
			}
			a.hire{
				margin-top: 2rem;
				text-transform: capitalize;
				font-weight: bold;
				float: right;
				@include button(4rem);
				&:hover{
					background: #00575a;
					color: #017175;
					@include box-shadow(1px 1px 8px black);
				}
			}
		}
		@include media-query($x-small){
			@include justify-content(center);
			article{
				text-align: center;
			}
		}
	}
	&#about{
		@include flex-flow(column wrap);
		.title{
			//@include flex(0 100%);
			h2{
				width: 20%;
			}
		}
		ul{
			list-style-type: square;
			margin-left: 1rem;
		}
		p,li{
			color: $content;
		}
		img{
			margin: 2rem auto;
			width: 100%;
			@include media-query($x-small){
				display: none;
			}
		}
	}
	&#makerz{
		@include flex-flow(column wrap);
		title{
			//@include flex(0 100%);
			h2{
				width: 20%;
			}
		}
	}
	&#portfolio{
		@include flex-flow(column wrap);
		background: $greenbg url(../imgs/digicubes.png);
		.title{
			@include flex(1 100%);
			h2{
				margin: 1rem auto;
			}
			p{
				color: white;
				margin: 0 auto;
			}
			@include media-query($x-small){
				@include flex(2 100%);
			}
		}
		ul{
			list-style-type: none;
			margin: 0 auto;
			width: 100%;
			@include flex(12 100%);
			display: flex;
			display: -webkit-flex;
			@include justify-content(center);
			@include flex-flow(row wrap);
			@include media-query($x-small){
				@include flex(2 100%);
			}
			li{
				@include flex(1 20%);
				position: relative;
				margin: 0.3rem;
				overflow: hidden;
				transform-perspective: 200;
				-webkit-transform-perspective: 200;
				transform-origin: 50% 50%;
				-webkit-transform-origin: 50% 50%;
				div{
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: black;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					border-bottom-right-radius: 20px;
					border-top-left-radius: 20px;
				}
				a{
					background: rgba(0,184,191,0.85);
					color: $menu;
					display: block;
					width:  6rem;
					height: 6rem;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					border-radius: 100px;
					text-align: center;
					text-decoration: none;
					padding: 1rem;
					@include box-sizing(border-box);
					position: absolute;
					@include box-shadow(2px 2px 20px black);
					@include media-query($x-small){
						width:  5rem;
						height: 5rem;
					}
					span{
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						height: 4rem;
						font-size: 4rem;
						@include media-query($x-small){
							height: 2rem;
							font-size: 2rem;
						}
					}
				}
			}
		}
		.portfolio-paginator{
			@include flex(0 100%);
			display: flex;
			display: -webkit-flex;
			@include justify-content(center);
			.portfolio-paginator-option{
				color: white;
				font-size: 1.5rem;
				margin: 0 0.5rem;
				&.active{
					color: $digital !important;
				}
			}
		}
		.portfolio-template{
			position: fixed;
			width: 100%;
			height: 100%;
			color: white;
			top: 0;
			left: 0;
			background: rgba(0,184,191,0.85);
			z-index: 5;
			.ion-close{
				position: absolute;
				right: 3rem;
				top: 3rem;
				margin: 0.5rem;
				color: white;
				font-size: 2.5rem;
			}
			.portfolio-data{
				height: 65%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				font-size: 1rem;
				> div{
					height: 100%;
					@include box-shadow(0px 0px 15px rgba(0,0,0,0.7));
					background-color: $digital;
					.portfolio-back{
						background-repeat: no-repeat;
						background-color: $digital;
						background-position: 50% 50%;
						background-size: cover;
					}
					.portfolio-meta{
						background: #eee;
						@include box-shadow(-5px 0px 25px rgba(0,0,0,0.3));
						color: #fff;
						padding: 1rem;
						@include box-sizing(border-box);
						border-left: $digital 3px solid;
						@include media-query($x-small){
							width: 40%;
						}
						.portfolio-title{
							color: #666;
							font-size: 2rem;
							text-align: center;
							margin-bottom: 1rem;
						}
						.portfolio-content{
							color: #999;
							.portfolio-meta-link{
								width: 3rem;
								height: 3rem;
								border-radius: 100px;
								font-size: 3rem;
								background: $digital;
								color: #fff;
								display: block;
								text-align: center;
								padding: 0.5rem;
								margin: 2.5rem auto;
								@include media-query($x-small){
									margin: 0.5rem auto;
								}
							}
							.portfolio-date{
								text-align: right;
								margin-top: 1rem;
								color: #ccc;
							}
						}
					}
				}
			}
		}
	}
	&#blog{
		@include flex-flow(column wrap);
		background: url(../imgs/digicubes.png);
		title{
			//@include flex(0 100%);
			h2{
				width: 20%;
			}
		}
		.blog-list{
			list-style-type: none;
			width: 100%;
			li{
				margin: 0.5rem 0;
				padding: 1rem;
				border-color: $content;
				border-width: 2px;
				border-style: solid;
				height: 2rem;
				overflow: hidden;
				a{
					text-decoration: none;
					h3{
						color: $subtitle;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					p{
						@include opacity(0);
						@include transform(translateY(-10px));
						color: $content;
					}
				}
			}
		}
		.rss-subscribe{
			color: $menu;
			text-align: right;
			a{
				color: $menu;
				text-decoration: none;
				&:hover{
					color: $digital;
				}
			}
		}
	}
	&#contact{
		@include flex-flow(column wrap);
		@include background-size('/imgs/background.jpg');
		.title{
			//@include flex(0 100%);
			@include align-items(center);
			h2{
				margin: 1rem auto;
			}
			p{
				font-size: 2rem;
				text-align: center;
				color: white;
				margin-bottom: 1rem;
			}
		}
		.address{
			@include flex(1 100%);
			@include align-items(center);
			iframe{
				order: 2;
				margin: 0 auto;
				@include flex(5 10%);
				@include media-query($x-small){
					display: none;
				}
			}
			ui-gmap-google-map{
				order: 2;
				@include flex(5 10%);
				height: 400px;
				@include media-query($x-small){
					display: none;
				}
				.angular-google-map{
					height: 100%;
					.angular-google-map-container{
						height: 100%;
					}
				}
			}
			p{
				order: 1;
				@include flex(1 10%);
				padding: 1rem;
				font-size: 0.9rem;
				text-align: right;
				@include media-query($x-small){
					@include flex(1 100%);
					text-align: center;
					font-size: 1.5rem;
				}
				a{
					color: white;
					text-decoration: none;
				}
			}
		}
		.social{
			@include flex(1 100%);
			a{
				@include button;
				height: 2rem;
				@include box-sizing(border-box);
				padding: 0.5rem;
				margin: 1rem;
				text-align: left;
				position: relative;
				&:hover{
					background: $menu;
					color: white;
					@include box-shadow(1px 1px 8px rgba(0,0,0,0.3));
				}
				span{
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0.5rem;
					margin: auto;
					width: 1.4rem;
					height: 1.4rem;
					font-size: 1.4rem;
				}
			}
		}
	}
}
.post-container{
	background: url(../imgs/bnbackground.png) top center fixed;
	> header{
		position: fixed;
		width: 100%;
		height: 6rem;
		overflow: hidden;
		background: rgba(255,255,255,0.75);
		img{
			float: left;
			margin: 1rem;
			width: 10rem;
		}
	}
	.post{
		padding: 7rem 0;
		@include box-sizing(border-box);
		margin: 0 auto;
		width: 70%;
		.post-content{
			width: 85%;
			float: left;
			@include media-query($x-small){
				width: 100%;
			}
			.post-header{
				text-align: center;
				.post-title{
					font-size: 3.5rem;
				}
				.post-meta{
					font-size: 0.7rem;
					color: #aaa;
				}
			}
			.post-body{
				margin-top: 2rem;
				padding: 0 5rem;
				@include media-query($x-small){
					padding: 0 0.5rem;
				}
				*{
					font-family: Georgia,Cambria,"Times New Roman",Times,serif;
					letter-spacing: 0.01rem;
					font-weight: 400;
					font-style: normal;
					line-height: 1.5;
				}
				p{
					font-size: 1.5rem;
				}
				a{
					font-size: 1.5rem;
					color: $digital;
				}
				.highlight{
					margin: 1rem;
					overflow: auto;
				}
				.social-data{
					float: right;
					a{
						margin-left: 0.5rem;
					}
				}
			}
		}
		aside{
			width: 15%;
			float: left;
			@include media-query($x-small){
				width: 100%;
			}
			ul{
				margin-top: 4rem;
				list-style-type: none;
				li{
					a{
						padding: 0.5rem;
						text-decoration: none;
						color: $menu-link;
						display: block;
						font-size: 0.8rem;
						&:hover{
							background: $menu-link;
							color: $digital;
						}
						@include media-query($x-small){
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}
a.button{
	@include button;
}