<!--header class="site-header">
	<div class="wrapper">
		<nav class="bg-opacity" ng-class="{active:logo}" main-menu>
			<img class="fade logo" ng-show="logo" src="/imgs/logo_bn.svg" alt="{{ site.title }}">
			<img class="fade menu-logo" ng-show="!logo" src="/imgs/logo.svg" alt="{{ site.title }}">
			<a href="#" class="fade menu-icon" ng-show="!logo">
				<p>Menú</p>
				<span class="ion-android-menu"></span>
			</a>
			<aside>
				<a href="#" class="ion-close close-menu"></a>
				<ul>
					<li><a href="#home">Bienvenida</a></li>
					<li><a href="#about">Nosotros</a></li>
					<li><a href="#portfolio">Portafolio</a></li>
					<!--<li><a href="makerz">Makerz</a></li>-->
					<!--li><a href="#contact">Contacto</a></li>
				</ul>
			</aside>
		</nav>
  	</div>
</header!-->

{% for project in site.portfolios %}
			<li>
				<div style="background-image:url({{ project.image | prepend: project.baseurl }})"></div> 
				<a class="portfolio-link" href="{{ project.url | prepend: project.baseurl }}">{{ project.title }}</a>
			</li>
		{% endfor %}
