<header class="site-header">
	<div class="wrapper">
		<nav class="bg-opacity" ng-class="{active:logo}" main-menu>
			<img class="fade logo" ng-show="logo" src="/imgs/logo_bn.svg" alt="{{ site.title }}">
			<img class="fade menu-logo" ng-show="!logo" src="/imgs/logo.svg" alt="{{ site.title }}">
			<a href="#" class="fade menu-icon" ng-show="!logo">
				<p>Menú</p>
				<span class="ion-android-menu"></span>
			</a>
			<aside>
				<a href="#" class="ion-close"></a>
				<ul>
					<li><a class="menu-item" href="#home">Inicio</a></li>
					<li><a class="menu-item" href="#about">Nosotros</a></li>
					<li><a class="menu-item" href="#portfolio">Portafolio</a></li>
					<li><a class="menu-item" href="#makerz">Makerz</a></li>
					<li><a class="menu-item" href="#blog">Blog</a></li>
					<li><a class="menu-item" href="#contact">Contacto</a></li>
				</ul>
			</aside>
		</nav>
  	</div>
</header>